doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title CSS counter-reset
  script.
    document.documentElement.className = 'js';
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='style.scss')

main.layout
  .layout__left.layout--group
    h2.ordered-title-1 Título principal, nivel 1
    h3.ordered-title-2 Título secundario nivel 2
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque fugit totam repellendus dolore, sit non reiciendis!
    h3.ordered-title-2 Título secundario nivel 2
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque fugit totam repellendus dolore, sit non reiciendis!
    h3.ordered-title-2 Título secundario nivel 2
    p Lorem ipsum dolor sit amet, consectetur adipisicing.
    h4.ordered-title-3 Título secundario nivel 3
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    h4.ordered-title-3 Título secundario nivel 3
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit.

    h2.ordered-title-1 Título principal, nivel 1
    h3.ordered-title-2 Título
    h3.ordered-title-2 Título

  .layout__right.layout--group
    h2.ordered-title-1 Título principal, nivel 1
    h3.ordered-title-2 Título secundario nivel 2
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque fugit totam repellendus dol!
    h3.ordered-title-2 Título secundario nivel 2
    p Lorem ipsum dolor sit amet consectetur.
    h4.ordered-title-3 Título secundario nivel 3
    p Lorem ipsum dolor sit amet.
